@forward "utils";
@forward "nav";
@forward "hero";
@forward "about";
@forward "blog";
@forward "footer";
@import url('https://fonts.google.com/specimen/Public+Sans');





*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}
*::selection{
    background: hsl(136, 65%, 51%) ;
    color: #fff;
}
body{
    overflow: hidden;
}